% rebase("base.html", current_tab="bookstats")

% filter_tabs = ["authors", "categories", "reading_states"]
% filter_titles = {"authors" : "Avtorji", "categories" : "Kategorije", "reading_states" : "Stanje branja"}
% if not(defined("selected_filter_tab")):
%   selected_filter_tab = "authors"
% end

% author_list = shelf.list_authors()
% category_list = shelf.list_categories()
% state_list = ["Nezačete", "Začete", "Prebrane"]
% state_numbers = {"Nezačete" : 0, "Začete" : 1, "Prebrane" : 2}

% if not(defined("active_authors")):
%   active_authors = []
% end

% if not(defined("active_categories")):
%   active_categories = []
% end

% if not(defined("active_bookstates")):
%   active_bookstates = []
% end

% filtered_books = shelf.get_books(active_authors, active_categories, [state_numbers[s] for s in active_bookstates])


<div class="columns">
    % include("_filter_books.html")
    <div class="column">
        <nav class="panel">
            <p class="panel-heading">
                Statistika za filtrirano skupino
            </p>
            % stats = shelf.group_stats(active_authors, active_categories, [state_numbers[s] for s in active_bookstates])
            <div class="panel-block">
                <b>{{"Prebrane knjige v skupini: " + stats["progress_quotient"] + " (" + stats["percentage"] + ")"}}</b>
            </div>
            <div class="panel-block">
                <b>{{"Skupni čas branja: " + stats["time_spent_h"] + " ur"}}</b>
            </div>
            <div class="panel-block">
                <b>{{"Povprečna hitrost branja v skupini: " + stats["avg_rates"] + " min/stran"}}</b>
            </div>
            <div class="panel-block">
                <b>{{"Predviden preostali čas za skupino: " + stats["time_rest_h"] + " ur"}}</b>
            </div>
            <div class="panel-block">
                <div class="column is-one-quarter">
                    <b>{{"Skupne prebrane strani: " + stats["pages_quotient"] + " (" + stats["pages_percentage"] + ")"}}</b>
                </div>
                <div class="column">
                    <progress class="progress is-info is-large" value={{stats["current_page"]}} max={{stats["total_pages"]}}>
                </div>
            </div>
            <div class="panel-block">
                <b>Vizualizacija posameznih knjig v skupini:</b>
            </div>
            % for book in filtered_books:
                % progress_type = "progress is-large " + ("is-success" if book.pages == book.current_page else "is-warning")
                <div class="panel-block">
                    <div class="column is-one-quarter">
                        {{book.title}}
                    </div>
                    <div class="column">
                        <progress class="{{progress_type}}" value={{book.current_page}} max={{book.pages}}>
                    </div>
                </div>
            % end
        </nav>
    </div>
</div>