% rebase('base.html')

<nav class="panel">
  <p class="panel-heading">
    Prijava/Registracija
  </p>
  <form method="POST">
    <div class="panel-block">
      <div class="control">
        <input class="input" type="text" placeholder="uporabniško ime" name="name">
      </div>
    </div>
    <div class="panel-block">
      <div class="control">
        <input class="input" type="password" placeholder="geslo" name="password">
      </div>
    </div>
    <div class="panel-block">
      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-success" value="Prijava" name="login">
        </div>
        <div class="control">
            <input type="submit" class="button is-danger" value="Registracija" name="register">
        </div>
      </div>  
    </div>
  </form>
</nav>

    

      

    


  
